/*
Background: ciel style mario (OAT adele)
ciel : infinite loop/repeat infinite
route : fixe mais avec qqs éléments (bâtiments) qui déroulent en boucle pour donner illusion d'avancer
bâtiments : planned parenthood, hospital, school, AN,
*/

@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
/* font-family: 'Ranchers', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* font-family: 'Ultra', serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* red: rgb(211, 46, 46) */
/* malus colors: rgb(255, 255, 255) */
/* bonus colors: #126831 */

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

html {
    background-image: url('./img/communication-kit/background.jpg');
}

body {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.788);
}

html,
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

h1,
h2 {
    text-align: center;
    font-family: 'Ultra', serif;
    font-size: 30pt;
    color: rgb(211, 46, 46);
    animation-duration: 2s;
    animation-name: slidein;
    /* background-color: rgba(255, 255, 255, 0.781); */
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    box-sizing: content-box;
}

h3,
h4,
h5 {
    margin: 0;
    padding: 0 0 15px 0;
    text-align: center;
    width: 600px;
}

.game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* GLOBAL LAYOUT */
.horizontal-display {
    display: flex;
    align-items: center;
}
.vertical-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BUTTONS */
#slot-machine-button,
#start-button,
#reset-button,
#box-button,
#points-block {
    text-align: center;
    border: solid 3px black;
    margin-bottom: 5px;
    padding: 10px;
    width: 180px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.781);
}
#slot-machine-button:hover,
#start-button:hover,
#reset-button:hover,
#box-button:hover {
    border: solid 3px rgb(211, 46, 46);
    color: rgb(211, 46, 46);
    background-color: rgba(255, 255, 255);
    cursor: pointer;
    font-size: 1.1em;
    transition: ease-out 0.1s;
}
#start-button,
#reset-button {
    text-align: center;
    border: solid 3px black;
    margin-bottom: 10px;
    padding: 10px;
    width: 180px;
    height: 20px;
}

/* POINTS BLOCK */
#points-block {
    background-color: black;
    color: ivory;
    width: 180px;
    height: 70px;
    font-size: 15pt;
}
#points-counter {
    font-size: 25pt;
    font-family: 'Ranchers', cursive;
}

/*  SLOT MACHINE */
#slot-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#slot-machine-image {
    margin-top: 0px;
    width: 400px;
    position: static;
    z-index: 10;
}
#slot-machine-content {
    padding: 5px;
    border: solid 3px black;
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255);
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 260px;
    height: 90px;
    font-size: 10.5pt;
    bottom: 296px;
    left: -10px;
}
#countries-block,
#numberOfWeeks-block,
#prosperity-block {
    width: 65px;
}

/* GAME BOARD */
#game-board {
    width: 400px;
    height: 500px;
    position: absolute;
    left: 50%;
    border: solid 5px black;
    background-color: white;
}

/* IN-GAME ELEMENTS */
.bonus {
    width: 45px;
    height: 45px;
    position: absolute;
}
.malus {
    width: 45px;
    height: 45px;
    position: absolute;
}
#player {
    width: auto;
    height: 56px;
    position: relative;
    top: calc(500px - 56px);
}

/* VISIBILITY */
.is-hidden {
    visibility: hidden;
}
.is-visible {
    visibility: visible;
}

/* END OF GAME */
#won,
#lost {
    background-color: white;
    font-family: 'Ultra', serif;
    width: 375px;
    position: fixed;
    top: 390px;
    right: 180px;
    padding: 10px;
    border: solid 3px black;
    text-align: center;
}
#won {
    top: 397px;
}
#won > p,
#lost > p {
    font-family: 'Poppins', sans-serif;
}
#lost {
    top: 410px;
}

/* LINKS */
a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.801);
    padding: 2px;
}
a:hover {
    color: grey;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.801);
    text-decoration: underline;
}